/* --------------- UTILITY ---------------*/
.border-dashed {
    padding: 5px;
    border: 1px solid;
    border-style: dashed;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-center {
    align-items: center;
}

/* PADDING */
.py-10 {
    padding: 10px 0;
}

.py-40 {
    padding: 40px 0;
}

.px-10 {
    padding: 0 10px;
}

.px-40 {
    padding: 0 40px;
}

.padding-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-60 {
    padding-top: 60px;
}

.py-bottom-140 {
    padding-bottom: 140px;
}

/* MARGIN */

.margin-10px {
    margin: 10px;
}

.margin-20px {
    margin: 20px;
}

.margin-50px {
    margin: 50px;
}

/* HEIGHT */
.height-400px {
    height: 400px;
}

.height-700px {
    height: 700px;
}

/* TEXT COLOR */

.white {
    color: white;
}

.lilac {
    color: #7189D9;
}


/* BACKGROUNDS */
.bg-orange {
    background-color: orange;
}

.bg-violet {
    background-color: violet;
}

.bg-pink {
    background-color: pink;
}

.bg-blue {
    background-color: cornflowerblue;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-lightgrey {
    background-color: #F6F6F6;
}

.bg-green {
    background-color: green;
}

.bg-darkgrey {
    background-color: #23272A;
}

.bg-aquamarine {
    background-color: aquamarine;
}

.bg-lilac {
    background-color: #8EA1E1;
}