// BACKGROUNDS
$header-bg-color: #ff6900;

// LABELS
$label-discount: red;
$label-sustainability: green;
$label-hearts: white;

// TEXTS
$text-price: red;
$text-discounted: black;
$text-sustainability: white;
$text-discount: white;
$text-hearts: black;
$text-hearts-hover: red;
